@import "tailwindcss";
html {
  scroll-behavior: smooth;
}

body {
  background-image: url(/img/bg-dark2.webp);
  background-size: contain;
  background-repeat: repeat;
  background-position: center;
}
/* Приховати стандартний скролбар */
.scrollbar-hide::-webkit-scrollbar {
  width: 8px; /* Тонкий скролбар */
  height: 8px; /* Тонкий вертикальний скролбар */
}

.scrollbar-hide::-webkit-scrollbar-thumb {
  background-color: rgba(
    255,
    255,
    255,
    0.5
  ); /* Легкий напівпрозорий білий колір */
  border-radius: 10px; /* Закруглені кути для більш стильного вигляду */
  transition: background-color 0.3s ease; /* Плавна зміна кольору при наведенні */
}

.scrollbar-hide::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.8); /* Темніший колір при наведенні */
}

.scrollbar-hide::-webkit-scrollbar-track {
  background-color: transparent; /* Прозорий фон треку */
}

/* Для Firefox */
.scrollbar-hide {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.5) transparent; /* Білий тонкий скролбар */
}

.scrollbar-hide:hover {
  scrollbar-color: rgba(255, 255, 255, 0.8) transparent; /* Темніший колір при наведенні */
}
